{% extends 'base.html.twig' %}

{% block title %}Notas{% endblock %}

{% block content %}
    <h1>Notas</h1>

    {% if notas is not empty %}
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Contenido</th>
                    <th>Fecha de creación</th>
                </tr>
            </thead>
            <tbody>
                {% for nota in notas %}
                    <tr>
                        <td>{{ nota.id }}</td>
                        <td>{{ nota.titulo }}</td>
                        <td>{{ nota.contenido }}</td>
                        <td>{{ nota.fechaCreacion|date('Y-m-d H:i') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay notas registradas.</p>
    {% endif %}
{% endblock %}
